@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root:root,
.theme-1 {

  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
  --main-bg: hsl(0, 0%, 98%);
  --element: hsl(0, 0%, 100%);

}

.theme-2 {
  --element: hsl(209, 23%, 22%);
  --text: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 100%);
  --main-bg: hsl(207, 26%, 17%);

}


html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--main-bg);
  overflow-x: hidden;

}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8rem;
}

/*=========== top section =========== */

header {
  box-shadow: 0px 4px 16px -12px rgba(0, 0, 0, 1);
}

nav div {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}

nav div span {
  font-size: 1.2rem;
}

nav div span i {
  font-size: 1.4rem;
}

h1 {
  font-size: 1.8rem;
  color: var(--text);
}

.dark_mode-btn {
  color: var(--text);
}

.dark_mode-btn:hover {
  cursor: pointer;
}

/*=========== search section =========== */

.search-bar {
  padding: 6rem 8rem;
}

.search-bar__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 6rem;
}

.search-bar .left {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding-left: 3rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 1);
  background-color: var(--element);
  color: var(--text);

}

.search-field {
  width: 30rem;
  padding: 1.5rem;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: var(--element);
  color: var(--text);

}

.back-btn span {
  display: block;
}

.back-btn {
  width: 9.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 1);
  background-color: var(--element);
  color: var(--text);
}

.back-btn:hover {
  cursor: pointer;
}

/*=========== right search section =========== */

.search-bar__wrapper .right {
  width: 20em;
  height: 5rem;
}

.dropdown {
  position: relative;
  width: 100%;
  height: 100%;
}

.dropdown span {
  position: absolute;
  width: 100%;
  font-size: 1.4rem;
  padding: 1.5rem;
  border: none;
  border-radius: 8px;
  outline: none;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 1);
  background-color: var(--element);
  color: var(--text);

}

.dropdown span:hover {
  cursor: pointer;
}

.dropdown::before,
.dropdown::after {
  position: absolute;
  z-index: 10;
  content: '';
  display: block;
  width: 10px;
  height: 2px;
  background-color: var(--text);
  top: 0;
  bottom: 0;
  right: 1.6rem;
  transform: rotate(45deg);
  margin: auto 0;
  transition: .2s;
}

.dropdown::after {
  transform: rotate(-45deg);
  right: 1rem;
}

.dropdown.clicked::before {
  right: 1rem;
}

.dropdown.clicked::after {
  right: 1.6rem;
}

.options {
  position: absolute;
  background-color: var(--element);
  width: 100%;
  top: 6rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 1);
  opacity: 0;
  visibility: hidden;

}

.dropdown.clicked .options {
  opacity: 1;
  visibility: visible;
}

.options div {
  color: var(--text);
  padding: 1rem 2rem;
}

.options div:hover {
  cursor: pointer;
}

/*=========== countries section =========== */

.countries {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 6em;

}

.country {
  background-color: var(--element);
  max-width: 26rem;
}

.country img {
  width: 26rem;
  height: 16rem;
}

.country :hover {
  cursor: pointer;
}


.country .details {
  margin: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  color: var(--text);
}

.name {
  margin-bottom: 2.5rem;
}

.details h2 {
  font-size: 2rem;
}

.details span {
  font-weight: 600;
}

.details p {
  font-size: 1.4rem;
  padding: .5rem 0;
}

/*=========== countries details section =========== */


.country-details {
  display: flex;
  flex-wrap: wrap;
  color: var(--text);
  gap: 12rem;
  align-items: center;
}

.country-details p {
  font-size: 1.8rem;
  font-weight: 600;
}

.country-details span {
  font-weight: 300;
}

.country-details .right {
  padding: 4rem 0;

}

.country-details .right h2 {
  font-size: 3rem;
}

.country-details .right .details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8rem;
}

.border-countries {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.border-countries p {
  font-weight: 600;
}

.border-countries .right {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.border-countries button {
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 1);
  background-color: var(--element);
  color: var(--text);
}

.border-countries button:hover {
  cursor: pointer;
}

.active {
  display: none;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 2rem;
  }

  .search-bar {
    padding: 6rem 2rem;
  }

  .country-details .left img {
    width: 100%;
  }
}